name: Release Transferzero-SDK-DotNet

on:
  push:
    branches:
      - master
      - BTA-11168-ci-cd
jobs:
  release-transferzero-dotnet-sdk:
    runs-on: windows-2022
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          5.0.x
      # - name: Setup .NET SDK
      #   uses: actions/setup-dotnet@v3
    #   with:
    #     dotnet-version: '5.0.x'
    # - uses: nuget/setup-nuget@v1
    #   with:
    #     nuget-version: '4.x'
    - name: test
      run: dotnet --info
    # - name: Build Release
    #   run: dotnet build -c Release
    # - name: Test the release
    #   run: dotnet test -c Release --no-build
    # - name: Pack nugets
    #   run: dotnet pack -c Release --no-build --output .
    # - name: Push to NuGet
    #   run: dotnet nuget push "*.nupkg" --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json
